:root {
  --primary-color: #ff5e3a;
  --secondary-color: #4f5665;
  --grey: #f0f0f0;
  --lightPink: #ffcce0;
  --blue: #1a1aff;
  --darkGrey: #4d4d4d;
  --lightBlue: #ccccff;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.5);
  --box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
  --gradient: linear-gradient(to bottom, #fccb90, #ff9a9e);
  --btn-gradient: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}

/* Utitlity Classes */
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navigation */
header {
  margin-bottom: 4rem;
}

nav {
  padding: 2.5rem 0;
  position: relative;
  z-index: 1;
}

.nav-list li a {
  padding: 1rem;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.nav-list li:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-list li a:hover {
  color: var(--primary-color);
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  font-size: 2.2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.icon:not(:last-child) {
  margin-right: 3rem;
}
.icon:hover {
  background-color: var(--lightBlue);
}
.bell {
  position: relative;
}
.bell::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  background-color: var(--primary-color);
  border: 1px solid black;
  border-radius: 50%;
}

.hamburger,
.close {
  display: none;
  background-color: white;
  font-size: 3.2rem;
  cursor: pointer;
}

.hero {
  /* height: 80vh; */
  margin: 0 3rem;
}
.hero-bg {
  background: url("../images/bg.svg") center / cover no-repeat fixed;
  border-radius: 2rem;
  position: relative;
}
.description {
  margin-left: 5rem;
}
.description .subtitle {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}
.description h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 11.4rem;
  margin-bottom: 2rem;
}
.description h1 span {
  color: var(--primary-color);
  position: relative;
}
.description h1 span::after {
  content: "ı";
  position: absolute;
  top: -3px;
  left: 0;
  color: black;
}
.description p {
  font-size: 2rem;
  margin-bottom: 9.5rem;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.description button {
  padding: 1.5rem 6rem;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  background: var(--btn-gradient);
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
}

.collection {
  margin-top: 10rem;
}

.collection .title {
  text-align: center;
  margin-bottom: 5rem;
}
.collection .title span {
  display: inline-block;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
  text-transform: uppercase;
}
.collection .title span::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  right: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.collection .title h2 {
  font-size: 2.4rem;
  text-transform: capitalize;
}

.filters {
  justify-content: center;
  margin-bottom: 7rem;
}

.filters li {
  padding: 1.6rem 4rem;
  color: var(--secondary-color);
  border-radius: 0.8rem;
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
  transition: 0.2s;
}
.filters li:not(:last-child) {
  margin-right: 4rem;
}
.filters li:hover,
.filters li:active {
  background: var(--gradient);
  color: white;
  box-shadow: var(--box-shadow-2);
}

.products .swiper-wrapper {
  padding-bottom: 1.5rem;
}
.product {
  border-radius: 2.5rem;
  box-shadow: var(--box-shadow-1);
  overflow: hidden;
}

.product .top {
  background: var(--gradient);
  height: 30rem;
  justify-content: center;
  position: relative;
}
.product .top img {
  height: 25rem;
}
.product .top .icon {
  position: absolute;
  top: 2rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  font-size: 2.5rem;
  cursor: pointer;
  justify-content: center;
  opacity: 0;
  /* visibility: hidden; */
  transition: 0.3s;
}
.product .top:hover .icon {
  opacity: 1;
  /* visibility: visible; */
}
.product .bottom {
  padding: 2.5rem 2rem;
}
.product .bottom h4 {
  font-size: 1.8rem;
  width: 85%;
  height: 5rem;
  margin-bottom: 1.5rem;
}
.product .price {
  color: white;
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}
.product .rating {
  color: var(--primary-color);
}
.product .rating i:not(:last-child) {
  margin-right: 0.3rem;
}

.pagination {
  text-align: center;
  margin-top: 3rem;
}
.pagination .swiper-pagination-bullet {
  background-color: var(--primary-color);
  height: 1rem;
  width: 1rem;
}
.pagination .swiper-pagination-bullet-active {
  width: 3rem;
  border: 1.5rem;
}

.new-arrival {
  margin-top: 10rem;
}
.new-arrival .title {
  text-align: center;
  margin-bottom: 5rem;
}
.new-arrival .title span {
  display: inline-block;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
  text-transform: uppercase;
}
.new-arrival .title span::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  right: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.new-arrival .title h2 {
  font-size: 2.4rem;
}

.new-arrival .row {
  display: grid;
}
.new-arrival .col {
  position: relative;
  padding: 1rem;
}
.new-arrival .col-1,
.new-arrival .col-2 {
  grid-column: 1;
}
.new-arrival .col-3 {
  grid-column: 2;
  grid-row: 1 / 3;
}
.new-arrival .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.new-arrival h3 {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  font-size: 2rem;
  line-height: 3.5rem;
}
.new-arrival h3 span {
  display: block;
  margin-top: 3rem;
}

.categories {
  margin-top: 10rem;
}
.categories .title {
  text-align: center;
  margin-bottom: 5rem;
}
.categories .title span {
  display: inline-block;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
  text-transform: uppercase;
}
.categories .title span::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  right: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.categories .title h2 {
  font-size: 2.4rem;
}

.categories .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 7rem 4rem;
  padding-top: 4rem;
}

.categories .product {
  border-radius: 2.5rem;
  border: 1px solid rgba(#909090, 25%);
  overflow: hidden;
  transition: 0.3s;
}

.categories .product .top {
  background: var(--grey);
  height: 30rem;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}
.categories .product img {
  height: 23rem;
}
.categories .product .icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  font-size: 2.5rem;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}
.categories .product .bottom {
  padding: 2.5rem 2rem;
  background-color: var(--white-color);
}
.categories .product h4 {
  font-size: 1.7rem;
  height: 5rem;
  transition: 0.3s;
}
.categories .flex a:first-child {
  margin-bottom: 1.5rem;
  align-items: flex-start;
}

.categories .product .cart-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.categories .product .price {
  color: #909090;
  font-weight: 500;
}
.categories .product .rating {
  color: var(--primary-color);
}
.categories .product .rating i:not(:last-child) {
  margin-right: 0.3rem;
}

.categories .product:hover {
  border: none;
  transform: scale(1.1);
  box-shadow: var(--box-shadow-1);
}
.categories .product:hover .top {
  background: var(--gradient);
}
.categories .product:hover .icon {
  opacity: 1;
}
.categories .product:hover .cart-btn {
  opacity: 1;
}

.categories .button {
  justify-content: center;
  margin-top: 8rem;
}
.categories .btn {
  display: inline-block;
  padding: 1.5rem 6rem;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  background: var(--btn-gradient);
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
}

.statistics {
  padding: 10rem 0 10rem;
  margin-top: 10rem;
  background: linear-gradient(
    to bottom,
    rgba(#fccb90, 15%),
    rgba(#ffb9bc, 10%)
  );
}

.statistics .title {
  text-align: center;
  margin-bottom: 5rem;
}
.statistics .title span {
  display: inline-block;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
  text-transform: uppercase;
}
.statistics .title span::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  right: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.statistics .title h2 {
  font-size: 2.4rem;
}

.statistics .title {
  margin-bottom: 10rem;
}

.statistics .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.statistics .col {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.statistics .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 11rem;
  font-size: 4rem;
  background: var(--white-color);
  border-radius: 1rem;
  box-shadow: var(--box-shadow-1);
  color: var(--primary-color);
  margin-bottom: 6rem;
}

.statistics .icon:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: var(--box-shadow-2);
}

.statistics .col h3 {
  margin-bottom: 1.2rem;
}

.statistics .col p {
  color: var(--default-color);
}

.blog .title {
  margin-bottom: 7rem;
}

.blog .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.blog .col {
  border-radius: 2.5rem;
  overflow: hidden;
  box-shadow: var(--box-shadow-1);
}

.blog .top {
  height: 45rem;
}
.blog .top img {
  height: 100%;
  object-fit: cover;
}

.blog .bottom {
  text-align: center;
  padding: 3rem 0;
}
.blog .bottom h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.blog .bottom h4 {
  max-width: 50%;
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.blog .bottom span {
  color: #909090;
  font-size: 1.5rem;
}
/* -------------------------------------------------- */

.footer {
  background-color: rgba(252, 203, 144, 0.3);
  padding: 10rem 3rem 10rem;
  margin-top: 7rem;
}
.footer .row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}
.footer .col .logo {
  margin-bottom: 2.5rem;
}

.footer .col:first-child p {
  margin-bottom: 2rem;
  color: #4f5665;
  font-size: 1.7rem;
}

.footer .col .icons {
  margin-bottom: 2rem;
}

.footer .col .icons .icon {
  color: var(--white-color);
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
}
.footer .col .icons .icon:not(:last-child) {
  margin-right: 1rem;
}

.footer .col:first-child .color {
  color: var(--primary-color);
}

.footer .col:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .col:last-child div {
  display: flex;
  flex-direction: column;
}
.footer .col:last-child a {
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #4f5665;
}

.footer .col h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.footer .row .col .flex {
  flex-direction: row;
  margin-bottom: 2rem;
}
.footer .col .flex .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: auto;
  height: auto;
  padding: 0.7rem;
}

.footer .col .flex span {
  font-size: 1.8rem;
  color: #4f5665;
}

/* ================ Media queries =================== */
@media (min-width: 1600px) {
  .container {
    max-width: 160rem;
  }
  nav {
    padding: 4rem 0;
  }

  .collections .product .top {
    height: 35rem;
  }

  .blog .top {
    height: 30rem;
  }
  .blog .bottom h4 {
    max-width: 85%;
  }
}

@media (max-width: 1600px) {
  .hero-bg img {
    width: 45rem;
  }
}

@media (max-width: 1200px) {
  .description h1 {
    font-size: 8rem;
  }
}

@media (max-width: 1025px) {
  .description {
    margin-top: 3rem;
  }
  .hero-bg {
    display: flex;
    flex-direction: column;
  }
  .footer .col:first-child {
    display: none;
  }

  .footer .row {
    display: block;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  .icons {
    display: none;
  }
  .nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 4rem 1rem 4rem 3rem;
    transition: 0.5s;
  }
  .nav-list a {
    font-size: 1.8rem;
  }
  .nav-list li:not(:last-child) {
    margin-bottom: 2rem;
  }

  .close {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .hamburger {
    display: block;
  }
  .show {
    right: 0;
  }

  .description .subtitle {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .description h1 {
    font-size: 7rem;
    margin-bottom: 1.5rem;
  }
  .description p {
    font-size: 1.6rem;
    margin-bottom: 6rem;
  }
  .description button {
    padding: 1rem 4rem;
  }
  .hero-bg img {
    width: 40rem;
  }

  .collection .filters li {
    padding: 1.25rem 2.5rem;
    font-size: 1.6rem;
  }
  .collection .filters li:not(:last-child) {
    margin-right: 2rem;
  }
  .new-arrival .row {
    display: block;
  }
  .new-arrival .row h3 {
    bottom: 15%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .statistics .row .col .icon {
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
  }

  .statistics .row .col p {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 100vh;
    margin: 0 1rem;
  }

  .collection .filters li {
    padding: 0.7rem 1rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .collection .filters li:not(:last-child) {
    margin-right: 1rem;
  }

  .footer .row .col:last-child {
    grid-template-columns: 1fr;
    gap: 3rem 0;
  }
}
